#### THE POLICE DATASET

 #### Here, the cars Dataset is a vehicle data set with make, model information and driving features. It is about the types of vehicles from different countries.
 #### It records Drivetrain, MSRP, Invoice, EngineSize, Cylinders, Horsepower, MPG_CIty, MPG_Highway, Weight, Wheelbase, and length.

 #### This data is available as a CSV file. An analysis of this data will be preformed using the Pandas DataFrame.

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv(r"./cars_data.csv")

In [5]:
data

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5.0,197.0,21.0,28.0,3450.0,105.0,186.0
428,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5.0,242.0,20.0,26.0,3450.0,105.0,186.0
429,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6.0,268.0,19.0,26.0,3653.0,110.0,190.0
430,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4.0,170.0,22.0,29.0,2822.0,101.0,180.0
431,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5.0,208.0,20.0,27.0,3823.0,109.0,186.0

In [6]:
data.head(2)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0

## Display unique MGP_Highway values for the vehicles

In [8]:
data.nunique()

Make            38
Model          425
Type             6
Origin           3
DriveTrain       3
MSRP           410
Invoice        425
EngineSize      43
Cylinders        7
Horsepower     110
MPG_City        28
MPG_Highway     33
Weight         348
Wheelbase       40
Length          67
dtype: int64

In [9]:
data['MPG_Highway'].unique()

array([23., 31., 29., 28., 24., 30., 26., 25., 27., 20., 22., 21., nan,
       18., 17., 34., 37., 32., 19., 36., 13., 33., 51., 66., 38., 44.,
       12., 16., 14., 35., 40., 43., 39., 46.])

## Number of vehicles with an engine size of 2.0

In [24]:
#Get all vehicles with 2.0 engine
data[data['EngineSize'] == 2.0]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
108,Dodge,Neon SE 4dr,Sedan,USA,Front,"$13,670","$12,849",2.0,4.0,132.0,29.0,36.0,2581.0,105.0,174.0
109,Dodge,Neon SXT 4dr,Sedan,USA,Front,"$15,040","$14,086",2.0,4.0,132.0,29.0,36.0,2626.0,105.0,174.0
124,Ford,Focus ZX3 2dr hatch,Sedan,USA,Front,"$13,270","$12,482",2.0,4.0,130.0,26.0,33.0,2612.0,103.0,168.0
125,Ford,Focus LX 4dr,Sedan,USA,Front,"$13,730","$12,906",2.0,4.0,110.0,27.0,36.0,2606.0,103.0,168.0
126,Ford,Focus SE 4dr,Sedan,USA,Front,"$15,460","$14,496",2.0,4.0,130.0,26.0,33.0,2606.0,103.0,168.0
127,Ford,Focus ZX5 5dr,Sedan,USA,Front,"$15,580","$14,607",2.0,4.0,130.0,26.0,33.0,2691.0,103.0,168.0
128,Ford,Focus SVT 2dr,Sedan,USA,Front,"$19,135","$17,878",2.0,4.0,170.0,21.0,28.0,2750.0,103.0,168.0
141,Ford,Focus ZTW,Wagon,USA,Front,"$17,475","$16,375",2.0,4.0,130.0,26.0,33.0,2702.0,103.0,178.0
152,Honda,Insight 2dr (gas/electric),Hybrid,Asia,Front,"$19,110","$17,911",2.0,3.0,73.0,60.0,66.0,1850.0,95.0,155.0
163,Honda,Civic Si 2dr hatch,Sedan,Asia,Front,"$19,490","$17,849",2.0,4.0,160.0,26.0,30.0,2782.0,101.0,166.0
175,Hyundai,Elantra GLS 4dr,Sedan,Asia,Front,"$13,839","$12,781",2.0,4.0,138.0,26.0,34.0,2635.0,103.0,178.0
176,Hyundai,Elantra GT 4dr,Sedan,Asia,Front,"$15,389","$14,207",2.0,4.0,138.0,26.0,34.0,2635.0,103.0,178.0
177,Hyundai,Elantra GT 4dr hatch,Sedan,Asia,Front,"$15,389","$14,207",2.0,4.0,138.0,26.0,34.0,2698.0,103.0,178.0
244,Mazda,Tribute DX 2.0,SUV,Asia,All,"$21,087","$19,742",2.0,4.0,130.0,22.0,25.0,3091.0,103.0,173.0
245,Mazda,Mazda3 i 4dr,Sedan,Asia,Front,"$15,500","$14,525",2.0,4.0,148.0,26.0,34.0,2696.0,104.0,178.0
293,Mitsubishi,Lancer ES 4dr,Sedan,Asia,Front,"$14,622","$13,751",2.0,4.0,120.0,25.0,31.0,2656.0,102.0,181.0
294,Mitsubishi,Lancer LS 4dr,Sedan,Asia,Front,"$16,722","$15,718",2.0,4.0,120.0,25.0,31.0,2795.0,102.0,181.0
296,Mitsubishi,Lancer OZ Rally 4dr auto,Sedan,Asia,Front,"$17,232","$16,196",2.0,4.0,120.0,25.0,31.0,2744.0,102.0,181.0
301,Mitsubishi,Lancer Evolution 4dr,Sports,Asia,Front,"$29,562","$27,466",2.0,4.0,271.0,18.0,26.0,3263.0,103.0,179.0
341,Saab,9-3 Arc Sport 4dr,Sedan,Europe,Front,"$30,860","$29,269",2.0,4.0,210.0,20.0,28.0,3175.0,105.0,183.0
342,Saab,9-3 Aero 4dr,Sedan,Europe,Front,"$33,360","$31,562",2.0,4.0,210.0,20.0,28.0,3175.0,105.0,183.0
345,Saab,9-3 Arc convertible 2dr,Sedan,Europe,Front,"$40,670","$38,520",2.0,4.0,210.0,21.0,29.0,3480.0,105.0,182.0
346,Saab,9-3 Aero convertible 2dr,Sedan,Europe,Front,"$43,175","$40,883",2.0,4.0,210.0,21.0,30.0,3700.0,105.0,182.0
364,Subaru,Impreza WRX 4dr,Sports,Asia,All,"$25,045","$23,022",2.0,4.0,227.0,20.0,27.0,3085.0,99.0,174.0
373,Suzuki,Forenza S 4dr,Sedan,Asia,Front,"$12,269","$12,116",2.0,4.0,119.0,24.0,31.0,2701.0,102.0,177.0
374,Suzuki,Forenza EX 4dr,Sedan,Asia,Front,"$15,568","$15,378",2.0,4.0,119.0,22.0,30.0,2756.0,102.0,177.0
406,Volkswagen,Golf GLS 4dr,Sedan,Europe,Front,"$18,715","$17,478",2.0,4.0,115.0,24.0,31.0,2897.0,99.0,165.0
411,Volkswagen,New Beetle GLS convertible 2dr,Sedan,Europe,Front,"$23,215","$21,689",2.0,4.0,115.0,24.0,30.0,3082.0,99.0,161.0
417,Volkswagen,Jetta GL,Wagon,Europe,Front,"$19,005","$17,427",2.0,4.0,115.0,24.0,30.0,3034.0,99.0,174.0

In [31]:
#Get how many rows from fitlered dataframe to get count
engine2_0_count = data[data['EngineSize'] == 2.0].count(axis='rows')

In [32]:
# Count of 2.0 Engine
engine2_0_count

Make           30
Model          30
Type           30
Origin         30
DriveTrain     30
MSRP           30
Invoice        30
EngineSize     30
Cylinders      30
Horsepower     30
MPG_City       30
MPG_Highway    30
Weight         30
Wheelbase      30
Length         30
dtype: int64

## Get Number of Vehicles with a Wheelbase of exactly 95

In [29]:
#Filter table to get vehicles with a wheelbse of 95
data[data['Wheelbase'] == 95]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
21,Audi,TT 1.8 convertible 2dr (coupe),Sports,Europe,Front,"$35,940","$32,512",1.8,4.0,180.0,20.0,28.0,3131.0,95.0,159.0
105,Chrysler,Crossfire 2dr,Sports,USA,Rear,"$34,495","$32,033",3.2,6.0,215.0,17.0,25.0,3060.0,95.0,160.0
152,Honda,Insight 2dr (gas/electric),Hybrid,Asia,Front,"$19,110","$17,911",2.0,3.0,73.0,60.0,66.0,1850.0,95.0,155.0
168,Honda,S2000 convertible 2dr,Sports,Asia,Rear,"$33,260","$29,965",2.2,4.0,240.0,20.0,25.0,2835.0,95.0,162.0
210,Kia,Rio 4dr manual,Sedan,Asia,Front,"$10,280","$9,875",1.6,4.0,104.0,26.0,33.0,2403.0,95.0,167.0
211,Kia,Rio 4dr auto,Sedan,Asia,Front,"$11,155","$10,705",1.6,4.0,104.0,25.0,32.0,2458.0,95.0,167.0
218,Kia,Rio Cinco,Wagon,Asia,Front,"$11,905","$11,410",1.6,4.0,104.0,26.0,33.0,2447.0,95.0,167.0
276,Mercedes-Benz,SLK230 convertible 2dr,Sports,Europe,Rear,"$40,320","$37,548",2.3,4.0,192.0,21.0,29.0,3055.0,95.0,158.0
277,Mercedes-Benz,SLK32 AMG 2dr,Sports,Europe,Rear,"$56,170","$52,289",3.2,6.0,349.0,17.0,22.0,3220.0,95.0,158.0
339,Porsche,Boxster convertible 2dr,Sports,Europe,Rear,"$43,365","$37,886",2.7,6.0,228.0,20.0,29.0,2811.0,95.0,170.0
340,Porsche,Boxster S convertible 2dr,Sports,Europe,Rear,"$52,365","$45,766",3.2,6.0,258.0,18.0,26.0,2911.0,95.0,170.0

In [33]:
wheel_base_95_count = data[data['Wheelbase'] == 95].count(axis='rows')

In [35]:
# Count of wheelbase of exactly 95
wheel_base_95_count

Make           11
Model          11
Type           11
Origin         11
DriveTrain     11
MSRP           11
Invoice        11
EngineSize     11
Cylinders      11
Horsepower     11
MPG_City       11
MPG_Highway    11
Weight         11
Wheelbase      11
Length         11
dtype: int64

## Display number of null values in data

In [40]:
null_values = data.isnull().sum()
null_values

Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     4
Cylinders      6
Horsepower     4
MPG_City       4
MPG_Highway    4
Weight         4
Wheelbase      4
Length         4
dtype: int64

In [41]:
## Display rows with null values
null_rows = data[data.isnull().any(axis=1)]
null_rows

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
251,Mazda,RX-8 4dr automatic,Sports,Asia,Rear,"$25,700","$23,794",1.3,NaN,197.0,18.0,25.0,3053.0,106.0,174.0
252,Mazda,RX-8 4dr manual,Sports,Asia,Rear,"$27,200","$25,179",1.3,NaN,238.0,18.0,24.0,3029.0,106.0,174.0

In [69]:
# Verify: Get total count of rows
len(data.index)

432

In [72]:
# Verify: Get total count of null rows
len(null_rows.index)

6

In [73]:
# Verify: SUbtract total count of rows from total count of null rows
len(data.index) - len(null_rows.index)

426

## Change column 'Cylinders' to 'Engine Cylinders' for clarity

In [78]:
data.rename(columns={'Cylinders': 'Engine Cylinders'}, inplace=True)

In [79]:
# Verify name change of column
data

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Engine Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5.0,197.0,21.0,28.0,3450.0,105.0,186.0
428,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5.0,242.0,20.0,26.0,3450.0,105.0,186.0
429,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6.0,268.0,19.0,26.0,3653.0,110.0,190.0
430,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4.0,170.0,22.0,29.0,2822.0,101.0,180.0
431,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5.0,208.0,20.0,27.0,3823.0,109.0,186.0

In [86]:
## Change Engine Cylinders column type from float to int
data['Engine Cylinders'] = data['Engine Cylinders'].fillna(0).astype(int)

In [87]:
## Verify change of Engine Cylinders column type
data

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Engine Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6,225.0,18.0,24.0,3880.0,115.0,197.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5,197.0,21.0,28.0,3450.0,105.0,186.0
428,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5,242.0,20.0,26.0,3450.0,105.0,186.0
429,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6,268.0,19.0,26.0,3653.0,110.0,190.0
430,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4,170.0,22.0,29.0,2822.0,101.0,180.0
431,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5,208.0,20.0,27.0,3823.0,109.0,186.0

## Get the mean of MPG_Highway

In [88]:
data.MPG_City.mean()

20.060747663551403

## Get the variance of Weight

In [90]:
data.Weight.var()

576055.520059533

## Get standard deviation of Horsepower

In [91]:
data.Horsepower.std()

71.83603158369073

## Get all instances that 'Front' Drive Train is recorded

In [92]:
data.head(5)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Engine Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6,225.0,18.0,24.0,3880.0,115.0,197.0

In [96]:
#Remove null values and filter values by checking if string contains 'Front'
front_drivetrain = data.dropna()[data['DriveTrain'].dropna().str.contains('Front')]

In [95]:
front_drivetrain

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Engine Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6,225.0,18.0,24.0,3880.0,115.0,197.0
5,Acura,3.5 RL w/Navigation 4dr,Sedan,Asia,Front,"$46,100","$41,100",3.5,6,225.0,18.0,24.0,3893.0,115.0,197.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
425,Volvo,S80 2.9 4dr,Sedan,Europe,Front,"$37,730","$35,542",2.9,6,208.0,20.0,28.0,3576.0,110.0,190.0
427,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5,197.0,21.0,28.0,3450.0,105.0,186.0
428,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5,242.0,20.0,26.0,3450.0,105.0,186.0
429,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6,268.0,19.0,26.0,3653.0,110.0,190.0
430,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4,170.0,22.0,29.0,2822.0,101.0,180.0

In [97]:
front_drivetrain.tail(50)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Engine Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
355,Saturn,L300 2,Wagon,USA,Front,"$23,560","$21,779",2.2,4,140.0,24.0,34.0,3109.0,107.0,190.0
356,Scion,xA 4dr hatch,Sedan,Asia,Front,"$12,965","$12,340",1.5,4,108.0,32.0,38.0,2340.0,93.0,154.0
357,Scion,xB,Wagon,Asia,Front,"$14,165","$13,480",1.5,4,108.0,31.0,35.0,2425.0,98.0,155.0
369,Suzuki,XL-7 EX,SUV,Asia,Front,"$23,699","$22,307",2.7,6,185.0,18.0,22.0,3682.0,110.0,187.0
371,Suzuki,Aeno S 4dr,Sedan,Asia,Front,"$12,884","$12,719",2.3,4,155.0,25.0,31.0,2676.0,98.0,171.0
372,Suzuki,Aerio LX 4dr,Sedan,Asia,Front,"$14,500","$14,317",2.3,4,155.0,25.0,31.0,2676.0,98.0,171.0
373,Suzuki,Forenza S 4dr,Sedan,Asia,Front,"$12,269","$12,116",2.0,4,119.0,24.0,31.0,2701.0,102.0,177.0
374,Suzuki,Forenza EX 4dr,Sedan,Asia,Front,"$15,568","$15,378",2.0,4,119.0,22.0,30.0,2756.0,102.0,177.0
375,Suzuki,Verona LX 4dr,Sedan,Asia,Front,"$17,262","$17,053",2.5,6,155.0,20.0,27.0,3380.0,106.0,188.0
377,Toyota,Prius 4dr (gas/electric),Hybrid,Asia,Front,"$20,510","$18,926",1.5,4,110.0,59.0,51.0,2890.0,106.0,175.0
379,Toyota,4Runner SR5 V6,SUV,Asia,Front,"$27,710","$24,801",4.0,6,245.0,18.0,21.0,4035.0,110.0,189.0
383,Toyota,Corolla CE 4dr,Sedan,Asia,Front,"$14,085","$13,065",1.8,4,130.0,32.0,40.0,2502.0,102.0,178.0
384,Toyota,Corolla S 4dr,Sedan,Asia,Front,"$15,030","$13,650",1.8,4,130.0,32.0,40.0,2524.0,102.0,178.0
385,Toyota,Corolla LE 4dr,Sedan,Asia,Front,"$15,295","$13,889",1.8,4,130.0,32.0,40.0,2524.0,102.0,178.0
386,Toyota,Echo 2dr manual,Sedan,Asia,Front,"$10,760","$10,144",1.5,4,108.0,35.0,43.0,2035.0,93.0,163.0
387,Toyota,Echo 2dr auto,Sedan,Asia,Front,"$11,560","$10,896",1.5,4,108.0,33.0,39.0,2085.0,93.0,163.0
388,Toyota,Echo 4dr,Sedan,Asia,Front,"$11,290","$10,642",1.5,4,108.0,35.0,43.0,2055.0,93.0,163.0
389,Toyota,Camry LE 4dr,Sedan,Asia,Front,"$19,560","$17,558",2.4,4,157.0,24.0,33.0,3086.0,107.0,189.0
390,Toyota,Camry LE V6 4dr,Sedan,Asia,Front,"$22,775","$20,325",3.0,6,210.0,21.0,29.0,3296.0,107.0,189.0
391,Toyota,Camry Solara SE 2dr,Sedan,Asia,Front,"$19,635","$17,722",2.4,4,157.0,24.0,33.0,3175.0,107.0,193.0
392,Toyota,Camry Solara SE V6 2dr,Sedan,Asia,Front,"$21,965","$19,819",3.3,6,225.0,20.0,29.0,3417.0,107.0,193.0
393,Toyota,Avalon XL 4dr,Sedan,Asia,Front,"$26,560","$23,693",3.0,6,210.0,21.0,29.0,3417.0,107.0,192.0
394,Toyota,Camry XLE V6 4dr,Sedan,Asia,Front,"$25,920","$23,125",3.0,6,210.0,21.0,29.0,3362.0,107.0,189.0
395,Toyota,Camry Solara SLE V6 2dr,Sedan,Asia,Front,"$26,510","$23,908",3.3,6,225.0,20.0,29.0,3439.0,107.0,193.0
396,Toyota,Avalon XLS 4dr,Sedan,Asia,Front,"$30,920","$27,271",3.0,6,210.0,21.0,29.0,3439.0,107.0,192.0
397,Toyota,Sienna CE,Sedan,Asia,Front,"$23,495","$21,198",3.3,6,230.0,19.0,27.0,4120.0,119.0,200.0
398,Toyota,Sienna XLE Limited,Sedan,Asia,Front,"$28,800","$25,690",3.3,6,230.0,19.0,27.0,4165.0,119.0,200.0
399,Toyota,Celica GT-S 2dr,Sports,Asia,Front,"$22,570","$20,363",1.8,4,180.0,24.0,33.0,2500.0,102.0,171.0
404,Toyota,Matrix XR,Wagon,Asia,Front,"$16,695","$15,156",1.8,4,130.0,29.0,36.0,2679.0,102.0,171.0
406,Volkswagen,Golf GLS 4dr,Sedan,Europe,Front,"$18,715","$17,478",2.0,4,115.0,24.0,31.0,2897.0,99.0,165.0
407,Volkswagen,GTI 1.8T 2dr hatch,Sedan,Europe,Front,"$19,825","$18,109",1.8,4,180.0,24.0,31.0,2934.0,99.0,168.0
408,Volkswagen,Jetta GLS TDI 4dr,Sedan,Europe,Front,"$21,055","$19,638",1.9,4,100.0,38.0,46.0,3003.0,99.0,172.0
409,Volkswagen,New Beetle GLS 1.8T 2dr,Sedan,Europe,Front,"$21,055","$19,638",1.8,4,150.0,24.0,31.0,2820.0,99.0,161.0
410,Volkswagen,Jetta GLI VR6 4dr,Sedan,Europe,Front,"$23,785","$21,686",2.8,6,200.0,21.0,30.0,3179.0,99.0,172.0
411,Volkswagen,New Beetle GLS convertible 2dr,Sedan,Europe,Front,"$23,215","$21,689",2.0,4,115.0,24.0,30.0,3082.0,99.0,161.0
412,Volkswagen,Passat GLS 4dr,Sedan,Europe,Front,"$23,955","$21,898",1.8,4,170.0,22.0,31.0,3241.0,106.0,185.0
413,Volkswagen,Passat GLX V6 4MOTION 4dr,Sedan,Europe,Front,"$33,180","$30,583",2.8,6,190.0,19.0,26.0,3721.0,106.0,185.0
414,Volkswagen,Passat W8 4MOTION 4dr,Sedan,Europe,Front,"$39,235","$36,052",4.0,8,270.0,18.0,25.0,3953.0,106.0,185.0
415,Volkswagen,Phaeton 4dr,Sedan,Europe,Front,"$65,000","$59,912",4.2,8,335.0,16.0,22.0,5194.0,118.0,204.0
416,Volkswagen,Phaeton W12 4dr,Sedan,Europe,Front,"$75,000","$69,130",6.0,12,420.0,12.0,19.0,5399.0,118.0,204.0
417,Volkswagen,Jetta GL,Wagon,Europe,Front,"$19,005","$17,427",2.0,4,115.0,24.0,30.0,3034.0,99.0,174.0
418,Volkswagen,Passat GLS 1.8T,Wagon,Europe,Front,"$24,955","$22,801",1.8,4,170.0,22.0,31.0,3338.0,106.0,184.0
419,Volkswagen,Passat W8,Wagon,Europe,Front,"$40,235","$36,956",4.0,8,270.0,18.0,25.0,4067.0,106.0,184.0
421,Volvo,S40 4dr,Sedan,Europe,Front,"$25,135","$23,701",1.9,4,170.0,22.0,29.0,2767.0,101.0,178.0
423,Volvo,S60 T5 4dr,Sedan,Europe,Front,"$34,845","$32,902",2.3,5,247.0,20.0,28.0,3766.0,107.0,180.0
425,Volvo,S80 2.9 4dr,Sedan,Europe,Front,"$37,730","$35,542",2.9,6,208.0,20.0,28.0,3576.0,110.0,190.0
427,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5,197.0,21.0,28.0,3450.0,105.0,186.0
428,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5,242.0,20.0,26.0,3450.0,105.0,186.0
429,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6,268.0,19.0,26.0,3653.0,110.0,190.0
430,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4,170.0,22.0,29.0,2822.0,101.0,180.0

In [98]:
data.head(2)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Engine Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4,200.0,24.0,31.0,2778.0,101.0,172.0

## Get all Toyotas with an EngineSize greater than 2.5 and has Front DriveTrain

In [107]:
data[(data['EngineSize'] > 2.5) & (data['DriveTrain'] == 'Front') & (data['Make'] == 'Toyota')]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Engine Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
379,Toyota,4Runner SR5 V6,SUV,Asia,Front,"$27,710","$24,801",4.0,6,245.0,18.0,21.0,4035.0,110.0,189.0
390,Toyota,Camry LE V6 4dr,Sedan,Asia,Front,"$22,775","$20,325",3.0,6,210.0,21.0,29.0,3296.0,107.0,189.0
392,Toyota,Camry Solara SE V6 2dr,Sedan,Asia,Front,"$21,965","$19,819",3.3,6,225.0,20.0,29.0,3417.0,107.0,193.0
393,Toyota,Avalon XL 4dr,Sedan,Asia,Front,"$26,560","$23,693",3.0,6,210.0,21.0,29.0,3417.0,107.0,192.0
394,Toyota,Camry XLE V6 4dr,Sedan,Asia,Front,"$25,920","$23,125",3.0,6,210.0,21.0,29.0,3362.0,107.0,189.0
395,Toyota,Camry Solara SLE V6 2dr,Sedan,Asia,Front,"$26,510","$23,908",3.3,6,225.0,20.0,29.0,3439.0,107.0,193.0
396,Toyota,Avalon XLS 4dr,Sedan,Asia,Front,"$30,920","$27,271",3.0,6,210.0,21.0,29.0,3439.0,107.0,192.0
397,Toyota,Sienna CE,Sedan,Asia,Front,"$23,495","$21,198",3.3,6,230.0,19.0,27.0,4120.0,119.0,200.0
398,Toyota,Sienna XLE Limited,Sedan,Asia,Front,"$28,800","$25,690",3.3,6,230.0,19.0,27.0,4165.0,119.0,200.0

## Get the mean value of each column against MPG_City

In [108]:
data.groupby('MPG_City').mean()

/tmp/ipykernel_8077/134448508.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data.groupby('MPG_City').mean()

,EngineSize,Engine Cylinders,Horsepower,MPG_Highway,Weight,Wheelbase,Length
MPG_City,,,,,,,
10.0,6.400000,9.000000,313.000000,12.500000,6795.000000,130.000000,208.500000
12.0,5.825000,9.500000,354.750000,17.750000,4691.000000,107.500000,190.000000
13.0,5.416667,8.666667,334.583333,17.500000,5281.416667,120.333333,204.416667
14.0,4.907692,7.692308,297.384615,18.076923,4922.076923,119.230769,201.538462
15.0,4.152941,6.823529,256.941176,19.882353,4529.235294,116.882353,196.882353
16.0,4.135484,6.838710,271.870968,21.516129,4153.612903,112.096774,190.193548
17.0,4.034146,7.170732,266.219512,23.634146,3911.512195,110.951220,194.804878
18.0,3.518841,6.246377,250.579710,25.260870,3724.086957,109.971014,189.695652
19.0,2.991892,5.945946,198.972973,26.189189,3569.243243,109.216216,187.000000
20.0,2.949123,5.596491,208.385965,27.771930,3423.385965,106.824561,184.666667
21.0,2.657895,4.973684,195.052632,28.342105,3312.157895,105.026316,184.236842
22.0,2.294444,4.222222,164.222222,29.166667,3115.111111,104.055556,180.444444
23.0,2.314286,4.285714,159.571429,29.428571,3017.142857,100.428571,176.428571
24.0,2.081818,4.000000,143.909091,31.590909,2899.272727,103.227273,178.363636
25.0,2.055556,4.000000,139.666667,31.444444,2718.333333,100.000000,172.888889
26.0,2.063636,4.000000,137.636364,34.090909,2665.045455,102.272727,177.136364
27.0,2.000000,4.000000,110.000000,36.000000,2606.000000,103.000000,168.000000
28.0,1.680000,4.000000,114.600000,35.000000,2467.200000,98.600000,163.800000
29.0,1.771429,4.000000,119.000000,34.714286,2495.857143,100.285714,170.285714
31.0,1.500000,4.000000,108.000000,35.000000,2425.000000,98.000000,155.000000
32.0,1.714286,4.000000,122.142857,38.714286,2490.857143,101.142857,173.285714
33.0,1.500000,4.000000,108.000000,39.000000,2085.000000,93.000000,163.000000
35.0,1.500000,4.000000,108.000000,43.000000,2045.000000,93.000000,163.000000
36.0,1.700000,4.000000,117.000000,44.000000,2500.000000,103.000000,175.000000
38.0,1.900000,4.000000,100.000000,46.000000,3003.000000,99.000000,172.000000
46.0,1.400000,4.000000,93.000000,51.000000,2732.000000,103.000000,175.000000
59.0,1.500000,4.000000,110.000000,51.000000,2890.000000,106.000000,175.000000
60.0,2.000000,3.000000,73.000000,66.000000,1850.000000,95.000000,155.000000

## Show min and max of each column value against MSRP

In [109]:
data.groupby('MSRP').min()

,Make,Model,Type,Origin,DriveTrain,Invoice,EngineSize,Engine Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
MSRP,,,,,,,,,,,,,,
"$10,280",Kia,Rio 4dr manual,Sedan,Asia,Front,"$9,875",1.6,4,104.0,26.0,33.0,2403.0,95.0,167.0
"$10,539",Hyundai,Accent 2dr hatch,Sedan,Asia,Front,"$10,107",1.6,4,103.0,29.0,33.0,2255.0,96.0,167.0
"$10,760",Toyota,Echo 2dr manual,Sedan,Asia,Front,"$10,144",1.5,4,108.0,35.0,43.0,2035.0,93.0,163.0
"$10,995",Saturn,Ion1 4dr,Sedan,USA,Front,"$10,319",2.2,4,140.0,26.0,35.0,2692.0,103.0,185.0
"$11,155",Kia,Rio 4dr auto,Sedan,Asia,Front,"$10,705",1.6,4,104.0,25.0,32.0,2458.0,95.0,167.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"$86,970",Mercedes-Benz,S500 4dr,Sedan,Europe,All,"$80,939",5.0,8,302.0,16.0,24.0,4390.0,122.0,203.0
"$86,995",Jaguar,XKR convertible 2dr,Sports,Europe,Rear,"$79,226",4.2,8,390.0,16.0,23.0,4042.0,102.0,187.0
"$89,765",Acura,NSX coupe 2dr manual S,Sports,Asia,Rear,"$79,978",3.2,6,290.0,17.0,24.0,3153.0,100.0,174.0
"$90,520",Mercedes-Benz,SL500 convertible 2dr,Sports,Europe,Rear,"$84,325",5.0,8,302.0,16.0,23.0,4065.0,101.0,179.0
"$94,820",Mercedes-Benz,CL500 2dr,Sedan,Europe,Rear,"$88,324",5.0,8,302.0,16.0,24.0,4085.0,114.0,196.0

In [110]:
data.groupby('MSRP').max()

,Make,Model,Type,Origin,DriveTrain,Invoice,EngineSize,Engine Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
MSRP,,,,,,,,,,,,,,
"$10,280",Kia,Rio 4dr manual,Sedan,Asia,Front,"$9,875",1.6,4,104.0,26.0,33.0,2403.0,95.0,167.0
"$10,539",Hyundai,Accent 2dr hatch,Sedan,Asia,Front,"$10,107",1.6,4,103.0,29.0,33.0,2255.0,96.0,167.0
"$10,760",Toyota,Echo 2dr manual,Sedan,Asia,Front,"$10,144",1.5,4,108.0,35.0,43.0,2035.0,93.0,163.0
"$10,995",Saturn,Ion1 4dr,Sedan,USA,Front,"$10,319",2.2,4,140.0,26.0,35.0,2692.0,103.0,185.0
"$11,155",Kia,Rio 4dr auto,Sedan,Asia,Front,"$10,705",1.6,4,104.0,25.0,32.0,2458.0,95.0,167.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"$86,970",Mercedes-Benz,S500 4dr,Sedan,Europe,All,"$80,939",5.0,8,302.0,16.0,24.0,4390.0,122.0,203.0
"$86,995",Jaguar,XKR convertible 2dr,Sports,Europe,Rear,"$79,226",4.2,8,390.0,16.0,23.0,4042.0,102.0,187.0
"$89,765",Acura,NSX coupe 2dr manual S,Sports,Asia,Rear,"$79,978",3.2,6,290.0,17.0,24.0,3153.0,100.0,174.0
"$90,520",Mercedes-Benz,SL500 convertible 2dr,Sports,Europe,Rear,"$84,325",5.0,8,302.0,16.0,23.0,4065.0,101.0,179.0
"$94,820",Mercedes-Benz,CL500 2dr,Sedan,Europe,Rear,"$88,324",5.0,8,302.0,16.0,24.0,4085.0,114.0,196.0